<h1><%= @task.title %></h1>
<%= @task.details %>


<%= link_to 'Back to List',
  tasks_path
%>

<%= link_to 'Edit Task',
  edit_path
%>

<%= link_to 'Delete',
raise
  task_path(@task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
